# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Fakultet\Godina 4\Semestar 2\XML i web servisi\Projekat\Nishtagram-NotificationService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
